.hero {
  background: url(../../../assets/images/background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--body-font-color);
  text-align: center;
  max-width: 1024px;
}

.hero h1 span {
  background-color: var(--green-color);
  padding: 0 10px;
  border-radius: 18px;
}

.hero p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--gray-color);
  text-align: center;
  max-width: 800px;
  margin-top: 32px;
}

.hero .btn {
  display: flex;
  padding: 1.438rem 0.875rem 1.438rem 1.438rem;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 38px;
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 50px;
  transition: all 0.3s ease;

  &:hover {
    scale: 1.05;
    filter: brightness(1.1);
  }
}

/* Section 2 */
.why {
  display: flex;
  background-color: var(--bg-color-1);
  margin: 4rem 4rem 0 4rem;
  border-radius: 20px;
  padding: 3.625rem 4.75rem 4rem 4.75rem;
}

.why .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.container .btn {
  display: flex;
  padding: 1.438rem 0.875rem 1.438rem 1.438rem;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: var(--body-font-color);
  color: #fff;
  border-radius: 2.375rem;
  font-weight: 600;
  font-size: 1.25rem;

  transition: all 0.3s ease;

  &:hover {
    scale: 1.05;
  }
}

.why .container,
.why .item-container {
  width: 50%;
}

.section-title {
  font-size: 4rem;
  font-weight: 600;
  max-width: 450px;
}

.why h2 span {
  background-color: var(--green-color);
  padding: 0 0.625rem;
  border-radius: 18px;
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.item-container .item {
  max-width: 530px;
}

.item h3 {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--body-font-color);
  margin: 20px 0 14px 0;
}

.item p {
  font-size: 1.75rem;
  font-weight: 400;
}

.item img {
  height: 3.5rem;
}

/* Section 3 */
.how-it-works {
  margin-top: 150px;
  width: 100%;
  padding: 3.625rem 4.75rem 4rem 4.75rem;
}

.how-it-works .container {
  display: flex;
  flex-direction: column;
}

.how-it-works .container .section-title {
  text-align: center;
  max-width: 100%;
  margin-bottom: 4.75rem;
}

.container .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.5rem;
}

.content .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.125rem;
  max-width: 340px;
}

.content .item p {
  font-size: 1.5rem;
}

.content .number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  font-weight: 700;
  background-color: var(--bg-color-1);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.content .item img {
  height: 11.25rem;
  margin: 0 auto 3rem auto;
}

@media (max-width: 1080px) {
  .how-it-works .container .content {
    flex-wrap: wrap;
    padding: 4.5rem;
  }
}

@media (max-width: 950px) {
  .why {
    margin: 0;
    gap: 1rem;
  }

  .how-it-works .container .content {
    padding: 0;
  }
}

@media (max-width: 800px) {
  .how-it-works .container .content {
    justify-content: center;
    gap: 90px;
  }
}

@media (max-width: 720px) {
  .hero h1 {
    padding: 0 1rem;
  }

  .hero p {
    padding: 0 1rem;
  }

  .why {
    flex-direction: column;
    align-items: center;
    padding:6rem 2rem;
  }

  .why .container,
  .why .item-container {
    width: 100%;
  }

  .why .container .btn {
    display: none;
  }

  .section-title {
    text-align: center;
    max-width: 100%;
  }

  .item-container {
    margin-top: 3rem;
    gap: 40px;
    align-items: center;
  }

  .how-it-works {
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 3rem;
  }

  .why .container .section-title {
    font-size: 3rem;
  }

  .how-it-works .container .section-title {
    font-size: 3rem;
  }
}