<div class="container" *ngIf="selectedLesson; else noLesson">
  <div class="title-container">
    <h2 class="title">{{ selectedLesson.title }}</h2>
  </div>

  <div class="content-container">
    <div class="lesson-content" [innerHTML]="selectedLesson?.contentHtml"></div>

    <div class="btn-container">
      <button
        class="conclude-btn"
        (click)="toggleCompleted()"
        [disabled]="completed"
      >
        {{ completed ? "Aula concluída!" : "Concluir aula" }}
      </button>
    </div>
  </div>
</div>

<ng-template #noLesson>
  <p>Selecione uma aula no menu lateral para começar.</p>
</ng-template>

<div *ngIf="loadingProva" class="global-loading">
  <div class="spinner"></div>
  <p>Gerando sua prova, aguarde...</p>
</div>
