.lesson-header {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  border: solid 1px #d9d9d9;
}

.logo-section {
  position: relative;
  padding: 0.5rem;
  
  width: var(--sidebar-width);
}

.logo-section .logo {
  height: 38px;
  padding-right: 1.5rem;
  cursor: pointer;
}

.logo-section span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 60%;
  background-color: #d9d9d9;
}

.left-section {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: auto;
}

.right-section {
  margin-right: 1rem;
}

.right-section .logout-btn {
  display: flex;
  align-items: center;
  gap: 4px;
}

.compress-tab img {
  stroke: currentColor;
}

.lesson-header .lesson-title, .logout-btn span {
  font-size: 1.125rem;
  font-weight: 400;
}

.logout, .panel, .right-section button {
  transition: all .3s;

  &:hover {
    scale: 1.05;
  }
}