<aside class="sidebar">
  <nav class="modules">
    <ul class="modules-list">
      <li
        class="module"
        *ngFor="let module of modules; let i = index"
        [ngClass]="{ open: openedIndex === i }"
      >
        <div class="module-container" [class.opened]="openedIndex === i" (click)="toggleLessons(i)">
          <div class="title-container">
            <h3 class="module-title">
              {{ module.title }}
            </h3>
            <img src="assets/icons/arrow-down.svg" alt="seta para baixo" />
          </div>
          <div class="module-progress">
            <span
              class="progress-text"
              *ngIf="getModuleProgress(module) < 100"
            >
              {{ getModuleProgress(module) }}%
            </span>
            <span
              class="progress-text completed"
              *ngIf="getModuleProgress(module) === 100"
            >
            </span>
            <div class="progress-bar-container">
              <div class="progress-bar">
                <div class="progress-fill" [style.width.%]="getModuleProgress(module)"></div>
              </div>
            </div>
          </div>
        </div>

        <ul
          class="lessons-list"
          [ngClass]="{ show: openedIndex === i, hide: openedIndex !== i }"
        >
          <li
            class="lesson"
            *ngFor="let lesson of module.lessons"
            [ngClass]="{
              selected: selectedLessonId === lesson.id,
              completed: isLessonCompleted(lesson.id)
            }"
          >
            <a
              class="lesson-link"
              (click)="onLessonClick(lesson)"
              href="javascript:void(0)"
            >
              {{ lesson.title }}
            </a>

            <img
              src="../../../../../assets/icons/check.svg"
              alt="check icon"
              *ngIf="isLessonCompleted(lesson.id)"
            />
          </li>
          
          <li class="finish-module-item" *ngIf="isModuleCompleted(module)">
            <button
              class="finish-module-btn"
              (click)="finishModule(module)"
              [disabled]="generatingTest"
            >
              <span *ngIf="!generatingTest">Concluir módulo</span>
              <span *ngIf="generatingTest">Gerando prova...</span>
            </button>
          </li>
        </ul>
      </li>
    </ul>

  </nav>
</aside>
