<app-header></app-header>

<div class="forgot-password">
  <div class="forgot-password-container"> 
    <h2>Crie uma nova senha</h2>
    <p>Crie uma senha forte para maior segurança da sua conta.</p>

    <form (ngSubmit)="onSubmit()">
      <div class="input-group password">
        <label for="senha">Senha</label>
        <input
          id="senha"
          name="senha"
          [(ngModel)]="senha"
          type="password"
          placeholder="Insira uma nova senha"
          required
        />
      </div>

      <div class="input-group password">
        <label for="confirmarSenha">Confirmar senha</label>
        <input
          id="confirmarSenha"
          name="confirmarSenha"
          [(ngModel)]="confirmarSenha"
          type="password"
          placeholder="Confirme sua nova senha"
          required
        />
      </div>

      <div *ngIf="message" class="forgot-password-message success">
        {{ message }}
      </div>
      <div *ngIf="errorMessage" class="forgot-password-message error">
        {{ errorMessage }}
      </div>

      <button class="forgot-password-btn" type="submit" [disabled]="loading">
        <span *ngIf="!loading">Redefinir senha</span>
        <span *ngIf="loading">Enviando...</span>
      </button>
    </form>
  </div>
</div>

<app-footer></app-footer>
