<app-header></app-header>

<div class="forgot-password">
  <div class="forgot-password-container"> 
    <h2>Crie uma nova senha</h2>
    <p>Crie uma senha forte para maior segurança da sua conta.</p>

    <form>
      <div class="input-group password">
        <label for="senha">Senha</label>
        <input
          id="senha"
          type="password"
          placeholder="Insira uma nova senha"
          required
        />
      </div>

      <div class="input-group password">
        <label for="senha">Confirmar senha</label>
        <input
          id="senha"
          type="password"
          placeholder="Confirme sua nova senha"
          required
        />
      </div>


      <button class="forgot-password-btn" routerLink="/login" type="submit">
        <span>Redefinir senha</span>
      </button>
    </form>
  </div>
</div>

<app-footer></app-footer>
