.course-container {
  display: grid;
  grid-template-columns: 25vw 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 
  "header header"
  "aside course";

  height: 100vh;
  transition: all 0.3s ease;
  overflow: hidden;
}

.aside {
  grid-area: aside;
  border: 1px solid #d9d9d9;
  border-top: none;
}
.header {
  grid-area: header;
  width: 100%;
}

.course-content {
  grid-area: course;
}

.aside-modules {
  overflow: hidden;
  transition: all 0.3s ease;
}

.course-container.aside-hidden {
  grid-template-columns: 1fr;
  /* When the aside is hidden, make the header and course span full width */
  grid-template-areas:
    "header"
    "course";
}

/* Content */
.course-content {
  overflow-y: scroll;
  transition: all 0.3s ease;
}

.title-container {
  background-image: url("../../../assets/images/lesson-banner.png");
  background-size: cover;
  background-position: center;
  height: 60vh;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--light-gray-color);
  max-width: 500px;
}

.content-container {
  margin-bottom: 20px;
  padding: 2rem;
}

.sub-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.content {
  font-size: 1rem;
  line-height: 1.5;
}