<div class="course-container" [class.aside-hidden]="!IsAsideVisible">
  
  <div class="aside" #sidebar>
    <app-aside-modules *ngIf="IsAsideVisible" (lessonSelected)="onLessonSelected($event)"></app-aside-modules>
  </div>

  <div class="header">
    <app-lesson-header [currentLessonTitle]="selectedLessonTitle" [isAsideVisible]="IsAsideVisible" (toggleAside)="toggleAside()"></app-lesson-header>
  </div>
  
  <main class="course-content">
    <router-outlet></router-outlet>
  </main>

  <!-- Overlay global de geração de prova -->
  <div class="overlay-generating" *ngIf="courseService.generating$ | async">
    <div class="overlay-inner">
      <div class="spinner"></div>
      <p>Aguarde enquanto estamos gerando a sua prova...<br/><strong>Não saia dessa página!</strong></p>
    </div>
  </div>
</div>
