<app-header></app-header>

<div class="forgot-password">
  <div class="forgot-password-container">
    <img src="/assets/icons/logo-icon.svg" alt="Logo do ensina renda">
    <h2>Esqueceu a senha?</h2>
    <p>Digite seu endereço de e-mail para receber um link de redefinição de senha.</p>

    <form>
      <div class="input-group email">
        <label for="email">E-mail</label>
        <input
          id="email"
          type="email"
          placeholder="Insira seu endereço de email"
          required
        />
      </div>

      <button class="forgot-password-btn" routerLink="/reset-password" type="submit">
        <span>Enviar link</span>
      </button>
    </form>
  </div>
</div>

<app-footer></app-footer>
