<app-header></app-header>

<div class="forgot-password">
  <div class="forgot-password-container">
    <h2>Esqueceu a senha?</h2>
    <p>Digite seu endereço de e-mail para receber um link de redefinição de senha.</p>

    <form (ngSubmit)="onSubmit()">
      <div class="input-group email">
        <label for="email">E-mail</label>
        <input
          id="email"
          name="email"
          [(ngModel)]="email"
          type="email"
          placeholder="Insira seu endereço de email"
          required
        />
      </div>

      <div *ngIf="message" class="forgot-password-message success">
        {{ message }}
      </div>
      <div *ngIf="errorMessage" class="forgot-password-message error">
        {{ errorMessage }}
      </div>

      <button class="forgot-password-btn" type="submit" [disabled]="loading">
        <span *ngIf="!loading">Enviar link</span>
        <span *ngIf="loading">Enviando...</span>
      </button>
    </form>
  </div>
</div>

<app-footer></app-footer>
