.forgot-password {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  width: 100%;

  background-image: url("/assets/images/forgot-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.forgot-password-container {
  display: flex;
  flex-direction: column;
  padding: 3.75rem;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  margin-top: 4rem;
}

.forgot-password-container h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #2e2e2e;
}

.forgot-password-container p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  max-width: 400px;
  color: var(--gray-color);
}

.forgot-password-container form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-group label {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--dark-slate-gray-color);
}

.input-group input {
  padding: 0.75rem 1rem;
  border: 1px solid var(--gray-color);
  border-radius: 1rem;
  font-size: 1.125rem;
  transition: all 0.3s;
}

form .input-group input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 1px var(--primary-color);
  outline: none;
}

form button {
  display: flex;
  padding: 1.5rem 0.875rem 1.5rem 1.5rem;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: #fff;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  transition: all 0.3s ease;

  &:hover {
    scale: 1.05;
    filter: brightness(1.1);
  }
}

@media (max-width: 600px) {
  .forgot-password {
    background: none;
  }

  .forgot-password-container {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  .forgot-password-container p {
    font-size: 1.5rem;
  }

  .forgot-password-container h2 {
    font-size: 2.5rem;
  }

  .input-group label {
    font-size: 1.75rem;
  }

  .input-group input {
    font-size: 1.5rem;
  }

  .forgot-password-container form {
    margin-top: 0.5rem;
  }
}