<div class="title-container">
  <h2 class="title">2. Teste de Avaliação</h2>
</div>
<div class="content-container">
  <div class="question-group">
    <h3 class="question-title">Pergunta 1</h3>
    <p class="question-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua?
    </p>
    <div class="options-container">
      <label class="option">
        <input type="radio" name="question1" value="a" />
        <span class="option-text">Opção A</span>
      </label>
      <label class="option">
        <input type="radio" name="question1" value="b" />
        <span class="option-text">Opção B</span>
      </label>
      <label class="option">
        <input type="radio" name="question1" value="c" />
        <span class="option-text">Opção C</span>
      </label>
      <label class="option">
        <input type="radio" name="question1" value="d" />
        <span class="option-text">Opção D</span>
      </label>
    </div>
  </div>
</div>
