.login {
  padding: 10rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  width: 100%;

  background-image: url("/assets/images/signup-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container {
  display: flex;
  border-radius: 1.5rem;
}

.login-container form {
  padding: 2rem 4rem 4rem 2rem;

  background-color: #fff;
  border-radius: 0 1.5rem 1.5rem 0;
}

form .title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.125rem;
  margin-bottom: 2.5rem;
}

form .title-container img {
  height: 50px;
}

form .title-container h3 {
  font-size: 1.5rem;
}

form .form-container {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  min-width: 31.25rem;
}

form .input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form .input-group label {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--slate-gray-color);
}

form .input-group input {
  padding: 1rem 1.125rem;
  font-size: 1.125rem;
  border: 1px solid var(--gray-color);
  border-radius: 1rem;
  transition: border-color 0.3s;
}

form .input-group input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 1px var(--primary-color);
  outline: none;
}

form .input-group .password-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form .input-group .show-password {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.125rem;
  color: var(--gray-color);
}

form .input-group .show-password input {
  width: 1rem;
  height: 1rem;
}

form .input-group .show-password label {
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--gray-color);
  cursor: pointer;
}

.form-container .login-btn {
  display: flex;
  padding: 1.5rem 0.875rem 1.5rem 1.5rem;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color);
  color: #fff;
  border-radius: 38px;
  font-weight: 600;
  font-size: 1.25rem;
  transition: all 0.3s ease;

  &:hover {
    scale: 1.05;
    filter: brightness(1.1);
  }

  &:disabled {
    background: var(--slate-gray-color);
    cursor: not-allowed;
    scale: 1;
    filter: none;
  }
}

.form-container .login-btn span {
  margin: auto;
}

.dont-have-account {
  margin: auto;
  color: var(--gray-color);
  font-size: 1.125rem;
}

.link {
  color: var(--primary-color);
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

/* Form Hero */
.form-hero {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem;
  max-width: 620px;
  background-image: url("/assets/images/signup-hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 1.5rem 1.5rem 0;
  transform: scale(-1, 1);
}

.form-hero .container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
  transform: scale(-1, 1);
}

.form-hero h2 {
  font-size: 4.875rem;
  font-weight: 400;
  color: var(--dark-slate-gray-color);
  width: 100%;
}

.form-hero h2 strong {
  font-weight: 700;
}

.form-hero p {
  margin: 1.5rem 0 0 0;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: var(--dark-slate-gray-color);
  width: 100%;
}

.error {
  color: var(--dark-red-color);
  font-size: 0.875rem;
  margin-left: 0.875rem;
}

.error li {
  list-style: outside;
}

@media (max-width: 1024px) {
  .form-hero h2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 900px) {
  form .form-container {
    min-width: 28rem;
  }
}

@media (max-width: 800px) {

  .login-container {
    flex-direction: column;
    width: 70vw;
  }
  
  .form-hero {
    display: none;
  }
  
  .login .login-container form {
    border-radius: 16px;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.163);
    -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.163);
    -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.163);
    padding: 6rem 4rem;
  }
  
  form .title-container img {
    display: none;
  }

  form .title-container h3 {
    font-size: 1.75rem;
  }

  form .form-container {
    min-width: 0;
  }

  form .form-container .login-btn {
    padding: 1rem 0.75rem 1rem 1rem;
  }

  form .form-container .login-btn img {
    height: 2.125rem;
  }
}

@media (max-width: 426px) {
  .login-container {
    width: 100vw;
  }

  .login .login-container form {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}