<app-header></app-header>

<div class="login">
  <div class="login-container">
    <div class="form-hero">
      <div class="container">
        <h2>Bem-vindo, <br /><strong>investidor!</strong></h2>
        <p>
          O futuro financeiro que você deseja está a alguns cliques de
          distância.
        </p>
      </div>
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="title-container">
        <img src="assets/icons/logo-icon.svg" alt="Ícone do logo" />
        <h3>Entre para continuar</h3>
      </div>

      <div class="form-container">
        <div class="input-group email">
          <label for="email">E-mail</label>
          <input
            id="email"
            type="email"
            placeholder="Insira seu email"
            [(ngModel)]="email"
            name="email"
            required
            email
            #emailField="ngModel"
          />

          <div class="error" *ngIf="emailField.invalid && emailField.touched">
            <li *ngIf="emailField.errors?.['required']">O e-mail é obrigatório.</li>
            <li *ngIf="emailField.errors?.['email']">Insira um e-mail válido.</li>
          </div>
        </div>

        <div class="input-group password">
          <label for="password">Senha</label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            placeholder="Insira sua senha"
            [(ngModel)]="senha"
            #senhaField="ngModel"
            name="senha"
            required
          />

          <div class="error" *ngIf="senhaField.invalid && senhaField.touched">
            <li *ngIf="senhaField.errors?.['required']">A senha é obrigatória.</li>
          </div>

          <div class="password-container">
            <div class="show-password">
              <input
                type="checkbox"
                name="show-password"
                id="show-password"
                (change)="togglePassword()"
              />
              <label for="show-password">{{
                showPassword ? "Ocultar senha" : "Visualizar senha"
              }}</label>
            </div>
            <a routerLink="/forgot-password" class="link">Esqueceu a senha?</a>
          </div>
        </div>

        <button class="login-btn" type="submit" [disabled]="loading || loginForm.invalid">
          <span *ngIf="!loading">Continuar</span>
          <span *ngIf="loading">Entrando...</span>
          <img
            src="assets/icons/arrow-circle-right.svg"
            alt="Seta para a direita"
          />
        </button>
        <p class="dont-have-account">
          Não possui uma conta?
          <a routerLink="/signup" class="link">Criar conta</a>
        </p>
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>
